{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
  Reset
  Password - YourNews
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Reset Password</h3>
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <div class="mb-3">
                {{ field.label_tag }} {{ field|add_class:"form-control" }}
                <!-- Prettier-ignore -->
                {% if field.errors %}<div class="text-danger small">{{ field.errors|striptags }}</div>{% endif %}
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary w-100">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
